doctype
html
	head
		title #{title} - React Chess
		meta(charset="utf-8")
		link(rel='stylesheet' href='/app/assets/styles/main.css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
	body
		block content
		block scripts