$primary-color: #1e62d0;

$board-width: "(60vw)";
$max-board-width: "(80vh - 150px)";

@mixin calc($property, $expression) { 
	#{$property}: calc(#{$expression}); 
} 

html {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

.clear {
	clear: both;
}

.col {
	display: inline-block;
	float: left;
}

.room {
	text-align: center;
	
	.team {
		display: inline-block;
		width: 30%;
		margin: 0px 20px;
		background-color: #ccc;
		border-radius: 10px;
		padding-bottom: 20px;
		.team-title {
			font-weight: bold;
		}
		
		.team-list {
			height: 500px;
			padding: 0px 40px;
			
			li {
				font-size: 24px;
				list-style: none;
				height: 40px;
				background-color: #eee;
				border-radius: 10px;
				margin-bottom: 10px;
			}
		}
	}
}

.chat {
	width: 25vw;
	max-width: 400px;
	height: 40vh;
	background-color: #ddd;
	margin-left: 50px;
	border-radius: 10px;
	text-align: center;
	
	.chat-header {
		font-weight: bold;
		padding: 10px 0px 10px 0px;
		font-size: 20px;
	}
	
	ul.messages {
		width: calc(100% - 40px);
		height: calc(40vh - 90px);
		margin: 0px 20px 10px 20px;
		border-radius: 10px;
		background-color: #eee;
		padding: 0;
		overflow-y: auto;
		
		li.message {
			text-align: left;
			list-style: none;
			margin: 0px 10px 0px 10px;
			padding: 5px 0px 5px 0px;
			border-bottom: 1px solid #ddd;
			
			.message-author {
				font-weight: bold;
				font-size: 16px;
			}
			
			.message-time {
				font-style: italic;
				font-size: 16px;
			}
			
			.message-body {
				font-size: 14px;
				padding: 5px 0px;
			}
		}
		.active .message-author, .active .message-time, .active .message-body {
			text-align: right;
		}
	}
	
	.message-form {
		height: 20px;
		width: 80%;
		position: relative;
		padding: 0px 5px 0px 5px;
	}
}

.history {
	width: 25vw;
	max-width: 400px;
	height: 40vh;
	background-color: #ddd;
	margin-left: 50px;
	margin-bottom: 30px;
	border-radius: 10px;
	
	.history-header {
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		padding: 10px 0px;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}
	
	.history-body {
		width: 100%;
		height: calc(50vh - 150px);
		overflow-y: auto;
		text-align: center;
		font-size: 16px;
		
		.history-row {
			width: 100%;
			border-bottom: 1px solid #ccc;
			
			.number {
				font-weight: bold;
				width: 20%;
				display:inline-block;
				padding: 10px 0px;
			}
			.move {
				width: calc(40% - 1px);
				display:inline-block;
				border-left: 1px solid #ccc;
				padding: 10px 0px;
			}
		}
	}
}

.pieceSupplies {
	@include calc(width, $board-width);
	@include calc(max-width, $max-board-width);
	@include calc(height, $board-width + "/10");
	@include calc(max-height, $max-board-width + "/10");
	margin: 20px 0px;
	text-align: center;
	.pieceSupply {
		@include calc(width, $board-width + "/10");
		@include calc(max-width, $max-board-width + "/10");
		@include calc(height, $board-width + "/10");
		@include calc(max-height, $max-board-width + "/10");
		margin: 0px 10px auto;
		display: inline-block;
		position: relative;
		border: 1px black solid;
		border-radius: 5px;
		
		img {
			width: 100%;
			height: 100%;
		}
		
		.pieceSupplyCount {
			position: absolute;
			top: -10px;
			left: -10px;
			background-color: white;
			border: 1px black solid;
			border-radius: 50%;
			height: 20px;
			width: 20px;
		}
	}
	.active {
		border: 1px red solid !important;
	}
}

.game-board {
	display: inline-block;
}

.board {
	@include calc(width, $board-width);
	@include calc(max-width, $max-board-width);
	@include calc(height, $board-width);
	@include calc(max-height, $max-board-width);
	
	position: relative;
	margin: 0px 10px;
	
	.piece {
		width: 100%;
		height: 100%;
	}
	
	.square {
		display: inline-block;
		float: left;
		font-size: 0;
		width: calc(12.5% - 5px);
		height: calc(12.5% - 5px);
		margin: 0;
		border: solid 3px transparent;
		position: relative;
		
		& img {
			height: 100%;
			width: 100%;
		}
		&.black {
			background-color: #888;
		}
		
		&.black.last {
			background-color: #a76e6d;
		}
		
		&.white {
			background-color: #eee;
		}
		
		&.white.last {
			background-color: #ef9e9c;
		}
		
		&.active {
			width: calc(12.5% - 5px);
			height: calc(12.5% - 5px);
			border: solid 3px #880000;
		}
		&.possible:before {
			content: '';
			width: 20%;
			height: 20%;
			border-radius: 50%;
			position: absolute;
			top: 40%;
			left: 40%;
			background-color: #880000;
			z-index: 100;
		}
	}
}
.game-header {
	.clock {
		white-space: nowrap;
		width: 150px;
		height: 50px;
		background-color: #aaa;
		border-radius: 10px;
		border: 2px $primary-color solid;
		float: left;

		.section {
			color: white;
			width: 70px;
			height: 40px;
			line-height: 40px;
			display: block;
			float: left;
			text-align: center;
			transition: 0.25s all;
		}
		.white-time {
			@extend .section;
			background-color: #eee;
			border-width: 5px 0px 5px 5px;
			border-color: #aaa;
			border-style: solid;
			color: #111;
			border-bottom-left-radius: 10px;
			border-top-left-radius: 10px;
		}
		.black-time {
			@extend .section;
			background-color: #111;
			border-width: 5px 5px 5px 0px;
			border-color: #aaa;
			border-style: solid;
			color: #eee;
			border-bottom-right-radius: 10px;
			border-top-right-radius: 10px;
		}
		.active {
			margin: auto;
			width: 74px;
			border-width: 0px;
			height: 50px;
			line-height: 50px;
		}
	}
	
	.new-game {
		float: right;
	}
}



.button {
	margin-top: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}

.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.button:active {
	position:relative;
	top:1px;
}

.option-no-text {
	display: inline-block;
	width: 15px;
	height: 30px;
	border-radius: 7px;
	border: 2px $primary-color solid;
	margin-right: 4px;
	transition: all 0.25s;
	
	&.active {
		background-color: $primary-color;
	}
}

.option-text {
	display: inline-block;
	width: 100px;
	height: 30px;
	border-radius: 7px;
	margin-right: 4px;
	color: $primary-color;
	border: 2px $primary-color solid;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	transition: all 0.25s;
	font-weight: bold;
	
	&.active {
		background-color: $primary-color;
		color: #eee;
	}
}

input[type="text"] {
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	background-color: #eee;
	transition: border 0.3s;
	border-radius: 7px;
}
input[type="text"]:focus,
input[type="text"].focus {
    outline-width: 0;
	border-bottom: solid 2px #969696;
}
.form-label {
	font-size: 12px;
	text-transform: uppercase;
	margin: 8px 0px 2px 0px;
	font-weight: bold;
}

.modal {
	opacity: 1.0;
	visibility: visible;
	transition: all 0.5s;
	
	&.active {
		opacity: 0;
		visibility: hidden;
	}
	
	.modal-mask {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 1;
	}
	
	.modal-message {
		text-align: center;
	}
	
	.modal-box {
		position: fixed;
		left: 50%;
		top: 50%;
		padding: 20px 20px 10px 20px;
		transform: translate(-50%, -50%);
		width: 250px;
		background-color: white;
		z-index: 2;
		border-radius: 15px;
		border: solid 2px $primary-color;
		text-align: center;
	}
}