html {
  width: 100%;
}

.clear {
  clear: both;
}

.pieceSupplies {
  width: 600px;
  height: 50px;
  margin: 20px 0px;
  text-align: center;
}

.pieceSupplies .pieceSupply {
  width: 50px;
  height: 50px;
  margin: 0px 10px auto;
  display: inline-block;
  position: relative;
}

.pieceSupplies .pieceSupply img {
  width: 100%;
  height: 100%;
  border: 1px black solid;
  border-radius: 5px;
}

.pieceSupplies .pieceSupply .pieceSupplyCount {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: white;
  border: 1px black solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.pieceSupplies .active img {
  border: 1px red solid !important;
}

.board {
  width: 600px;
  height: 600px;
}

.board .square {
  display: inline-block;
  float: left;
  font-size: 0;
  width: calc(12.5% - 4px);
  height: calc(12.5% - 4px);
  margin: 0;
  border: solid 2px transparent;
  position: relative;
}

.board .square img {
  height: 100%;
  width: 100%;
}

.board .square.black {
  background-color: #888;
}

.board .square.white {
  background-color: #eee;
}

.board .square.active {
  width: calc(12.5% - 4px);
  height: calc(12.5% - 4px);
  border: solid 2px red;
}

.board .square.possible:before {
  content: '';
  width: 20%;
  height: 20%;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 40%;
  background-color: red;
  z-index: 100;
}
