$primary-color: #1e62d0;

html {
	width: 100%;
}

.clear {
	clear: both;
}

.pieceSupplies {
	width: 600px;
	height: 50px;
	margin: 20px 0px;
	text-align: center;
	.pieceSupply {
		width: 50px;
		height: 50px;
		margin: 0px 10px auto;
		display: inline-block;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			border: 1px black solid;
			border-radius: 5px;
		}
		.pieceSupplyCount {
			position: absolute;
			top: -10px;
			left: -10px;
			background-color: white;
			border: 1px black solid;
			border-radius: 50%;
			height: 20px;
			width: 20px;
		}
	}
	.active img {
		border: 1px red solid !important;
	}
}

.board {
	width: 600px;
	height: 600px;

	.square {
		display: inline-block;
		float: left;
		font-size: 0;
		width: calc(12.5% - 4px);
		height: calc(12.5% - 4px);
		margin: 0;
		border: solid 2px transparent;
		position: relative;
		& img {
			height: 100%;
			width: 100%;
		}
		&.black {
			background-color: #888;
		}
		
		&.white {
			background-color: #eee;
		}
		&.active {
			width: calc(12.5% - 4px);
			height: calc(12.5% - 4px);
			border: solid 2px red;
		}
		&.possible:before {
			content: '';
			width: 20%;
			height: 20%;
			border-radius: 50%;
			position: absolute;
			top: 40%;
			left: 40%;
			background-color: red;
			z-index: 100;
		}
	}
}
.game-header {
	.clock {
		width: 150px;
		height: 50px;
		background-color: #aaa;
		border-radius: 10px;
		border: 2px $primary-color solid;
		float: left;

		.section {
			color: white;
			width: 70px;
			height: 40px;
			line-height: 40px;
			display: block;
			float: left;
			text-align: center;
			transition: 0.25s all;
		}
		.white-time {
			@extend .section;
			background-color: #eee;
			border-width: 5px 0px 5px 5px;
			border-color: #aaa;
			border-style: solid;
			color: #111;
			border-bottom-left-radius: 10px;
			border-top-left-radius: 10px;
		}
		.black-time {
			@extend .section;
			background-color: #111;
			border-width: 5px 5px 5px 0px;
			border-color: #aaa;
			border-style: solid;
			color: #eee;
			border-bottom-right-radius: 10px;
			border-top-right-radius: 10px;
		}
		.active {
			margin: auto;
			width: 75px;
			border-width: 0px;
			height: 50px;
			line-height: 50px;
		}
	}
	
	.new-game {
		float: right;
	}
}



.button {
	margin: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}

.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.button:active {
	position:relative;
	top:1px;
}

.modal {
	opacity: 1.0;
	visibility: visible;
	transition: all 0.5s;
	
	&.active {
		opacity: 0;
		visibility: hidden;
	}
	
	.modal-mask {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 1;
	}
	
	.modal-message {
		text-align: center;
	}
	
	.modal-box {
		position: fixed;
		left: 50%;
		top: 50%;
		padding: 20px 20px 10px 20px;
		transform: translate(-50%, -50%);
		width: 250px;
		background-color: white;
		z-index: 2;
		border-radius: 15px;
		border: solid 2px $primary-color;
		text-align: center;
	}
}