extend ../templates/layout

block content
	div(id='gameform')

block scripts
	script(type="text/javascript" src="/socket.io/socket.io.js")
	script(type='text/javascript').
		var socket = io();
	script(type="text/javascript" src="../bundle.js")