extend ../templates/layout

block content
	div(id='gameform')

block scripts
	script(type="text/javascript" src="/socket.io/socket.io.js")
	script(type='text/javascript').
		var socket = io("http://reactchess-jeffreyxiao.rhcloud.com:8000/");
	script(type="text/javascript" src="../dist/index_bundle.js")